.details{
	width:100%;
	height:100%;
	background:red;
	display:flex;
	flex-direction:column;
	.top{
	  width:100%;
	  background:green;
	  font-size:0.15rem;
	  color:#000;
	  flex:1;
	}
	.bottom{
	  background:blue;
	  width:100%;
	  height:10px;
	}
}