.FL{
  width:100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  .top{
    width:100%;
    height:0.45rem;
    background:#f8f8f8;
    border-bottom:1px solid #d8d8d8;
    font-size:0.12rem;
    color:#878787;
    text-align:center;
    padding-top:0.08rem;
    .top_rl{
      display:block;
      width:3rem;
      height:0.29rem;
      background:#eeeeee;
      margin-left:0.08rem;
      line-height:0.29rem;
      border-radius:0.05rem;
      padding-left:1rem;
      input{
        border:none;
        outline:none;
        background:#eeeeee;
      }
    }
  }
  main{
    width:100%;
    height:100%;
    background: #fff;
    flex: 1;
    display: flex;
    ._left{
      height: 100%;
      width:0.8rem;
      background:#f5f5f5;
      font-size:0.14rem;
      float:left;
      ul{
        width:100%;
        height:100%;
        background:#f5f5f5;
        li{
          text-align:center;
          height:0.42rem;
          line-height:0.42rem;
          color:#3a3a3a;
        }
        li:nth-of-type(1){
            color: green;
            background: #fff;
            border-left: 2px solid green;
//           "color" : "green",
//        "background" : "#fff",
//        "border-left" : "2px solid green"
        }
      }
    }
    ._right{
      width:2.4rem;
      display:flex;
      flex-wrap:wrap;
      justify-content:space-between;
      padding:0 0.1rem;
      background:#fff;
      .BT{
      	height:0.58rem;
      	padding-top:0.195rem;
      	width:2.4rem;
      	.titD{
	      	height:0.2rem;
	      	text-align:center;
	      	float:left;
	      	width:0.8rem;
	      	margin-left:0.6rem;
      }
      	.sp{
	      	font-size:0.12rem;
	      	color:#878787;
	      	float:right;
          display:block;
      		i{
	      		font-size:0.1rem;
	      		color:#878787;
      		}
     	}
      }
      #r{
      	width:0.62rem;
      	font-size:0.12rem;
      	text-align:center;
        background:#fff;
      	dt{
      		width:0.62rem;
      		height:0.62rem;
      		img{
      			 width:100%;
      	 		height:100%;
      		}
      	}
      	dd{
            font-size: .13rem;
            margin-top: .04rem;
            color: #3a3a3a;        
        }
      }
    }
  }
}
footer{
  width:100%;
  height:0.42rem;
  border-top:2px solid #ccc;
  ul{
    display:flex;
    width:100%;
    height:100%;
    .rl{
      display:flex;
      position: relative;
      height:100%;
      flex:1;
      flex-direction:column;
      text-align:center;
      justify-content:center;
      color:#898989;
      .cartnum{
        background: #ff4848;
        line-height: .14rem;
        border-radius: .15rem;
        min-width: .14rem;
        padding: 0 .02rem;
        color: #fff;
        top: .03rem;
        right: auto;
        bottom: auto;
        left: 50%;
        position: absolute;
        margin-left: .12rem;
    }
      a{
        font-size:0.115rem;
        color:#898989;
      }
      i{
        font-size:0.2rem!important;
      }
    }
  }
}

