@charset "utf-8";
html,body{
	width:100%;
	height: 100%;
}
body{
	font-family: "微软雅黑";
}
html,body,div,dl,dt,dd,ol,li,ul,p,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
img,a,li{
	border: none;
	text-decoration: none;
	list-style: none;
}
h1,h2,h3,h4,h5,h6,b,strong,i,em{
	font-weight: normal;
	font-style: normal;
}
input,a{
	outline: none;
}
